*{
    margin: 0 0 0 0;
}

.greeting{
    position: absolute;
    left: 19%;
    margin-bottom: 200px;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Source Sans 3', sans-serif;
}

.weather-main{
    font-family: 'JetBrains Mono';
    width: 275px;
    height: 325px;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    background-image: linear-gradient(to left top, #ff7900, #be6507, #844e10, #503515, #231d16);
}

.search{
    position: fixed;
    bottom: 0;
    transform: translateX(-10%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}
.weather-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem 1rem;
}

.search input{
    position: relative;
    position:static;
    border:0;
    outline:0;
    width: 200px;
    height: 31px;
    border-radius: 100px;
    background: #D9D9D9;
    margin: 16px;
    padding:8px 8px 8px 16px;
    font-size:1rem;

}

.search button{
    position: relative;
    border:0;
    outline:0;
    width: 50px;
    height: 31px;
    border-radius: 100px;
    background: #D9D9D9;
    /* margin-right:20px; */
    padding:16px 16px 32px 16px;

}

.search button img{
    padding-bottom: -1rem;
}

.weather-data-element:nth-child(1){
    margin-top: 40px;
    font-size: 24px;
}

.weather-data-element:nth-child(2){
    margin-top: 20px;
    font-size: 24px;
}

#temp{
    font-family: 'JetBrains Mono';
    font-size: 50px;
    font-weight: 500;
}